<a href="/" class="branding">
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="100%"
    viewBox="0 0 760 339"
    style="width: auto; height: 84px"
  >
    <rect x="86.1" y="95.5" fill="#1D2D5C" width="45.5" height="79.5"></rect>
    <rect x="86.1" y="178.3" fill="#1D2D5C" width="45.5" height="68.2"></rect>
    <rect x="135.6" y="95.5" fill="#7BB6D8" width="84.6" height="79.5"></rect>
    <rect x="135.6" y="178.3" fill="#1D2D5C" width="84.6" height="68.2"></rect>
    <path
      fill="#1D2D5C"
      d="M243.8,106.6h7.5v59.9h37.6v7h-45.2v-66.9H243.8z"
    ></path>
    <path fill="#1D2D5C" d="M308.5,116.4v57h-6.4v-57L308.5,116.4z"></path>
    <path
      fill="#1D2D5C"
      d="M352.6,157.8h-0.3l-20.8-30.5v46.1h-6.3v-57h6.5l20.8,31.1l20.8-31.1h6.5v57h-6.4v-46.2L352.6,157.8z"
    ></path>
    <path
      fill="#1D2D5C"
      d="M449,173.4h-6.9l-6.7-15.1h-31l-6.8,15.1H391l26-57.4h6L449,173.4z M419.9,123.6l-13,29.1h26L419.9,123.6z"
    ></path>
    <path
      fill="#1D2D5C"
      d="M553,153.1c-1.6,4.1-4,7.8-7,11c-3.1,3.2-6.7,5.8-10.8,7.6c-8.9,3.7-18.9,3.7-27.8,0c-8.1-3.5-14.5-10.2-17.7-18.5c-1.6-4.2-2.5-8.7-2.4-13.2c0-4.5,0.8-9,2.5-13.2c1.6-4.1,4-7.8,7-11c3.1-3.2,6.7-5.8,10.8-7.6c8.9-3.7,18.9-3.7,27.8,0c8.1,3.5,14.5,10.2,17.7,18.5c1.6,4.2,2.5,8.7,2.4,13.2C555.5,144.4,554.7,148.9,553,153.1z M545.7,129.3c-2.5-6.6-7.4-11.8-13.8-14.7c-3.3-1.5-6.9-2.2-10.5-2.2s-7.2,0.7-10.5,2.2c-3.1,1.4-5.9,3.4-8.3,5.9c-2.3,2.5-4.2,5.5-5.4,8.7c-1.3,3.4-2,7.1-2,10.7c0,3.7,0.7,7.3,2,10.8c2.5,6.6,7.5,11.9,13.9,14.7c3.3,1.5,6.9,2.2,10.5,2.2s7.2-0.7,10.5-2.1c3.1-1.4,5.9-3.4,8.3-5.9c2.3-2.5,4.2-5.5,5.4-8.7c1.3-3.4,2-7.1,2-10.7C547.7,136.4,547.1,132.7,545.7,129.3z"
    ></path>
    <path
      fill="#1D2D5C"
      d="M609.1,116.4h6.3v57h-5.1l-36.8-46.8v46.8h-6.3v-57h6l35.9,45.7L609.1,116.4z"
    ></path>
    <path
      fill="#1D2D5C"
      d="M672.8,122.2H638v19.5h31.1v5.9H638v20h35.2v5.9h-41.7v-57h41.2L672.8,122.2L672.8,122.2z"
    ></path>
    <path
      fill="#58595B"
      d="M265.8,240.4c-1.7,1.2-3.5,2.1-5.6,2.6c-1.2,0.3-2.4,0.4-3.6,0.4c-5.8,0.1-11.1-3.5-13.2-8.9c-1.4-3.7-1.4-7.8,0-11.5c0.7-1.7,1.7-3.3,3-4.7s2.8-2.4,4.6-3.2s3.8-1.2,5.8-1.2c1.2,0,2.4,0.1,3.5,0.3c1,0.2,2,0.5,2.9,0.9s1.7,0.9,2.5,1.4c0.8,0.6,1.5,1.2,2.2,1.9l-2.2,2.4c-1.2-1.1-2.5-2.1-3.9-2.8c-1.6-0.8-3.3-1.1-5-1.1c-3,0-5.8,1.2-7.9,3.4c-1,1.1-1.8,2.4-2.3,3.7c-0.6,1.5-0.8,3-0.8,4.6s0.3,3.2,0.8,4.6c0.5,1.4,1.3,2.7,2.3,3.7c1,1.1,2.2,1.9,3.5,2.5c1.4,0.6,2.9,0.9,4.4,0.9c1.7,0,3.5-0.3,5.1-1.1c1.5-0.8,2.9-1.8,4.1-3l2.1,2.1C267.5,239.1,266.7,239.8,265.8,240.4z"
    ></path>
    <path
      fill="#58595B"
      d="M329.4,242.9h-3.5l-3.3-7.5h-15.5l-3.4,7.5h-3.3l13-28.7h3L329.4,242.9zM314.9,217.9l-6.5,14.5h13L314.9,217.9z"
    ></path>
    <path
      fill="#58595B"
      d="M384.5,227.5c-0.6,1.1-1.4,2.2-2.4,2.9c-1.1,0.8-2.3,1.4-3.6,1.8c-1.4,0.4-2.9,0.6-4.3,0.6h-6.9v10.1h-3.2v-28.5h10.7c1.5,0,3,0.2,4.4,0.6c1.2,0.4,2.4,1,3.4,1.8c0.9,0.8,1.7,1.7,2.1,2.9c0.5,1.2,0.8,2.5,0.8,3.8C385.5,224.8,385.2,226.2,384.5,227.5zM380.1,218.9c-1.6-1.1-3.6-1.7-5.6-1.6h-7.2v12.6h7.1c1.1,0,2.2-0.1,3.2-0.4c0.9-0.3,1.7-0.7,2.5-1.3c0.7-0.5,1.2-1.2,1.6-2s0.6-1.7,0.5-2.6C382.3,221.7,381.6,220,380.1,218.9L380.1,218.9z"
    ></path>
    <path fill="#58595B" d="M423.9,214.3v28.5h-3.2v-28.5H423.9z"></path>
    <path
      fill="#58595B"
      d="M472.1,242.9h-3.2v-25.5h-9.6v-3h22.4v3h-9.6L472.1,242.9z"
    ></path>
    <path
      fill="#58595B"
      d="M539.7,242.9h-3.5l-3.3-7.5h-15.5l-3.4,7.5h-3.3l13-28.7h3L539.7,242.9z M525.2,217.9l-6.5,14.5h13L525.2,217.9z"
    ></path>
    <path fill="#58595B" d="M574.4,214.3h3.2v25.5h16v3h-19.2V214.3z"></path>
  </svg>
</a>
