<app-login-header></app-login-header>

<main
  class="login-page flex-grow-1 d-flex justify-content-center align-items-center"
>
  <div class="login-access">
    <!-- <button class="btn btn-primary" *ngIf="!isGuestMode; else guestLogin">
      Login with Okta
    </button> -->

    <ng-template #guestLogin>
      <app-login-form></app-login-form>
    </ng-template>
    <app-login-form></app-login-form>
  </div>
</main>

<app-footer></app-footer>
