:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-page {
  .login-access {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    padding: 64px;
  }
}
@media (max-width: 576px) {
  .login-page {
    .login-access {
      padding: 20px;
      width: 90%;
    }
  }
}
