:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.index-page {
  h1 {
    color: #01457c;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat';
  }

  .index-article {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    width: 1020px;
  }
}

h1 {
  color: #005580;
}

table {
  width: 100%;
}

th {
  color: gray;
  font-weight: bold;
}

th,
td {
  padding: 15px 15px 15px 0px;
}

#STF th,
#STF td,
#premier th,
#premier td,
#rental th,
#rental td {
  padding: 0px;
}

template th {
  padding: 10px 0 0 0;
}

template td {
  padding: 0px;
}

template td:last {
  padding: 0 0 10px 0;
}

button {
  margin: 0 2%;
  border: none;
  border-radius: 5px;
  background-color: #005b9e;
  color: white;
}

button .icon {
  padding: 5px 16px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pdfoverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: scroll;
}

button:hover {
  background-color: #0d72bb;
}

button.display {
  background-color: #0072c6;
  border-radius: 4px;
  padding: 5px 32px;
  color: white;
  border: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  height: 32px;
}

.fixed {
  margin-top: 150px;
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

.overlayButton {
  width: 125px;
}
