<footer>
  <div class="d-flex flex-column align-items-center">
    <div class="links">
      <a href="https://limaone.com/disclaimer">Privacy Notice</a> |
      <a href="https://limaone.com/disclaimer">Licensing</a> |
      <a href="https://limaone.com/contact-us">Contact Us</a>
    </div>

    <div class="company-desc">Lima One Capital, LLC, NMLS ID#1324403</div>
  </div>
</footer>
