<app-header></app-header>
<main
  ng-app="myApp"
  ng-controller="myCtrl"
  class="index-page flex-grow-1 d-flex justify-content-center align-items-center"
>
  <div class="form-article">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-baseline">
            <span class="leader">Fix & Flip Term Sheet</span
            ><span class="version">v. 1.71</span>
          </div>
          <div class="d-flex col-4 justify-content-end ml-auto">
            <button class="display" (click)="clearInputs()">Clear All</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="output">
      <div class="col-6 d-flex">
        <div class="form-group">
          <label for="">Master Override:</label>
          <input
            class="ml-4 mr-2 override"
            type="checkbox"
            (change)="toggleOverride('master')"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex align-items-baseline">
        <span class="leader section-leader">Loan Summary</span>
      </div>
      <div class="col-6 d-flex align-items-baseline">
        <span class="leader section-leader">Loan Terms</span>
      </div>
    </div>
    <div class="row section">
      <div class="col-lg-6 d-flex flex-column">
        <div class="form-group">
          <label for="title">Quote Name</label>
          <input
            type="text"
            class="form-control"
            [value]="title"
            (input)="title = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="loan_purpose">Loan Purpose</label>
          <select class="form-control" (change)="setValue('purpose', $event)">
            <option
              *ngFor="let purposeInput of loanPurposeInput"
              [value]="purposeInput"
              id="{{ purposeInput }}"
            >
              {{ purposeInput }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Loan Product</label>
          <select
            class="form-control"
            id=""
            (change)="setValue('product', $event)"
          >
            <option
              *ngFor="let productInput of loanProductOptions"
              [value]="productInput"
              id="{{ productInput }}"
            >
              {{ productInput }}
            </option>
          </select>
        </div>
        <div class="section-title">
          <span>Property Address</span>
        </div>
        <div class="form-group">
          <label for="inputAddress">Street</label>
          <input
            type="text"
            class="form-control"
            [value]="address"
            (input)="address = $any($event.target).value"
            (change)="unsavable()"
            required
          />
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control long"
              [value]="city"
              (input)="city = $any($event.target).value"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group col">
            <label for="">State</label>
            <select
              class="form-control short"
              (change)="setValue('state', $event)"
            >
              <option
                *ngFor="let state_abbrev of stateInputs"
                [value]="state_abbrev"
                id="{{ state_abbrev }}"
              >
                {{ state_abbrev }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="">Zip Code</label>
          <input
            type="text"
            class="form-control long"
            [value]="zipCode"
            (input)="zipCode = $any($event.target).value"
            (change)="validateField('zipCode')"
          />
          <div class="alert alert-warning" *ngIf="zipCodeWarning">
            <strong>Warning!</strong> Zip Code must be 5 digit numerical value
          </div>
        </div>
        <div class="form-group">
          <label for="">Property Type</label>
          <select
            class="form-control"
            (change)="setValue('propertyType', $event)"
          >
            <option
              *ngFor="let optionType of propertyTypeOptions"
              [value]="optionType"
              id="{{ optionType }}"
            >
              {{ optionType }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-lg-6 d-flex flex-column">
        <div class="form-group">
          <label for="">Channel</label>
          <select class="form-control" (change)="setValue('channel', $event)">
            <option
              *ngFor="let channelInput of channelInputs"
              [value]="channelInput"
              id="{{ channelInput }}"
            >
              {{ channelInput }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Referral?</label>
          <select class="form-control" (change)="setValue('referral', $event)">
            <option
              *ngFor="let referral_abbrev of referralFeeInputs"
              [value]="referral_abbrev"
              id="{{ referral_abbrev }}"
            >
              {{ referral_abbrev }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Broker Fee</label>
          <input
            type="number"
            class="form-control"
            [value]="brokerFee"
            (input)="brokerFee = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Loan Term</label>
          <select class="form-control" (change)="setValue('term', $event)">
            <option
              *ngFor="let term_abbrev of loanTermInputs"
              [value]="term_abbrev"
              id="{{ term_abbrev }}"
            >
              {{ term_abbrev }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Guaranty</label>
          <select class="form-control" (change)="setValue('guaranty', $event)">
            <option
              *ngFor="let guarantee_abbrev of guarantyOptions"
              [value]="guarantee_abbrev"
              id="guaranty_{{ guarantee_abbrev }}"
            >
              {{ guarantee_abbrev }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Broker Processing Fee</label>
          <input
            type="number"
            class="form-control"
            [value]="brokerProcessingFee"
            (input)="brokerProcessingFee = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label>Appraisal fee</label>
          <input
            type="number"
            class="form-control"
            [value]="appraisalFee"
            (input)="appraisalFee = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex align-items-baseline">
        <span class="leader section-leader">Deal Terms</span>
      </div>
      <div class="col-6 d-flex align-items-baseline">
        <span class="leader section-leader">Borrower Information</span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <div class="form-group">
          <label for="">Target Close Date</label>
          <input
            class="form-control"
            type="date"
            [value]="targetCloseDate"
            (input)="targetCloseDate = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Projected Months From Loan Close To Payoff</label>
          <input
            class="form-control"
            type="number"
            [value]="timeCloseToPayoff"
            (input)="timeCloseToPayoff = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Lesser of As-is Lot Value or Purchase Price</label>
          <input
            type="number"
            step="0.01"
            min="0.00"
            class="form-control"
            [value]="lesserOfLotOrPurchase"
            (input)="lesserOfLotOrPurchase = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Rehab/Construction Budget</label>
          <input
            type="number"
            step="0.01"
            min="0.00"
            class="form-control"
            [value]="rehabConBudget"
            (input)="rehabConBudget = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">After Completed Value</label>
          <input
            type="number"
            step="0.01"
            min="0.00"
            class="form-control"
            [value]="afterCompletedVal"
            (input)="afterCompletedVal = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Refinance</label>
          <select class="form-control" (change)="setValue('refinance', $event)">
            <option
              *ngFor="let refinance_option of refinanceOptions"
              [value]="refinance_option"
              id="refi_{{ refinance_option }}"
            >
              {{ refinance_option }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Original Close Date</label>
          <input
            class="form-control"
            type="date"
            [value]="originalPurchaseDate"
            (input)="originalPurchaseDate = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Existing Debt Status</label>
          <select class="form-control" (change)="setValue('debt', $event)">
            <option
              *ngFor="let debt_status of existingDebtInputs"
              [value]="debt_status"
              id="existing_{{ debt_status }}"
            >
              {{ debt_status }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Existing Debt Amount (Payout)</label>
          <input
            type="number"
            step="0.01"
            min="0.00"
            class="form-control"
            aria-describedby=""
            [value]="payoff"
            (input)="payoff = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Cashout</label>
          <select class="form-control" (change)="setValue('cashout', $event)">
            <option
              *ngFor="let cashOption of cashoutInputs"
              id="cashout_{{ cashOption }}"
              [value]="cashOption"
            >
              {{ cashOption }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Heavy Rehab?</label>
          <input
            id="rehab"
            type="checkbox"
            class="ml-4 mr-2 override"
            (change)="setValue('rehab', $event)"
          />
        </div>
      </div>
      <div class="col-6 d-flex flex-column">
        <div class="form-group">
          <label for="">Primary Guarantor</label>
          <input
            class="form-control"
            type="text"
            [value]="primaryGuarantor"
            (input)="primaryGuarantor = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Secondary Guarantor</label>
          <input
            class="form-control"
            type="text"
            [value]="secondaryGuarantor"
            (input)="secondaryGuarantor = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Borrowing Entity</label>
          <input
            class="form-control"
            type="text"
            [value]="borrowingEntity"
            (input)="borrowingEntity = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Fix & Flips completed & sold in the past 3 yrs</label>
          <input
            class="form-control"
            type="number"
            [value]="fnfCompletedInThreeYears"
            (input)="fnfCompletedInThreeYears = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for=""
            ># of completed & sold builds in the past 3 years:</label
          >
          <input
            class="form-control"
            type="number"
            [value]="buildsCompletedInThreeYears"
            (input)="buildsCompletedInThreeYears = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Rental Units Owned</label>
          <input
            class="form-control"
            type="number"
            [value]="rentalUnitsOwned"
            (input)="rentalUnitsOwned = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">Qualifying FICO:</label>
          <input
            class="form-control"
            type="text"
            pattern="[0-9]{3}"
            [value]="qualifyingFICO"
            (input)="qualifyingFICO = $any($event.target).value"
            (change)="validateField('fico')"
          />
          <div class="alert alert-warning" *ngIf="ficoWarning">
            <strong>Warning!</strong> Qualifying FICO must be numeric value
            between 300 and 850
          </div>
        </div>
        <div class="form-group">
          <label for="">Combined Liquidity:</label>
          <input
            type="number"
            step="0.01"
            min="0.00"
            class="form-control"
            aria-describedby=""
            [value]="combinedLiquidity"
            (input)="combinedLiquidity = $any($event.target).value"
            (change)="unsavable()"
          />
        </div>
        <div class="form-group">
          <label for="">US Citizen</label>
          <select class="form-control" (change)="setValue('citizen', $event)">
            <option
              *ngFor="let citizenInput of citizenInputs"
              [value]="citizenInput"
              id="citizen_{{ citizenInput }}"
            >
              {{ citizenInput }}
            </option>
          </select>
        </div>
        <div class="form-group" *ngIf="output === true">
          <label for="">Borrower Tier</label>
          <input
            type="checkbox"
            name=""
            class="ml-4 mr-2 override"
            (change)="toggleOverride('tier')"
          />
          Override?
          <div class="text" *ngIf="!tierOverride && !masterOverride">
            <span>{{ borrowerTier }}</span>
          </div>
          <input
            class="form-control"
            type="number"
            [value]="borrowerTier"
            (input)="borrowerTier = $any($event.target).value"
            *ngIf="tierOverride || masterOverride"
            (change)="unsavable()"
          />
        </div>
      </div>
    </div>

    <div class="calc" *ngIf="output === true">
      <div class="row">
        <div class="col-12 d-flex">
          <span class="leader text-uppercase">Loan Calculations & Terms</span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 d-flex align-items-baseline">
          <span class="leader section-leader">Blended LTC Calc</span>
        </div>
        <div class="col-6 d-flex align-items-baseline">
          <span class="leader section-leader"
            >LTC Calc on Purchase + Rehab</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column">
          <div class="form-group" *ngIf="output === true">
            <label for="">Lesser of As-is Value or Purchase Price</label>
            <div class="text" *ngIf="!masterOverride">
              <span
                >${{ lesserOfLotOrPurchase | number: '1.2-2':'en-US' }}</span
              >
            </div>
            <input
              class="form-control"
              type="number"
              value=""
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Rehab/Construction Budget:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ rehabConBudget | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value=""
              *ngIf="masterOverride"
              [value]="rehabConBudget"
              (input)="rehabConBudget = $any($event.target).value"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Total Cost:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ totalCost | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              [value]="totalCost"
              (input)="totalCost = $any($event.target).value"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Maximum Blended LTC ratio:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ maxBlendedLTCRatio | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              [value]="maxBlendedLTCRatio"
              (input)="maxBlendedLTCRatio = $any($event.target).value"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Blended LTC Maximum Loan:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ blendedLTCMaxLoan | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              [value]="blendedLTCMaxLoan"
              (input)="blendedLTCMaxLoan = $any($event.target).value"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <span class="leader section-leader">LTV/ARV Calc</span>
          <div class="form-group" *ngIf="output === true">
            <label for="">After completed value:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ afterCompletedVal | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ afterCompletedValLTV }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Maximum LTV ratio:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ maxLTVRatio | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ maxLTVRatio }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">LTV Maximum Loan:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ LTVMaxLoan | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ LTVMaxLoan }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Total Loan Amount</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ totalLoanAmt | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ totalLoanAmt }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <span class="leader section-leader">Cash To Close</span>
          <div class="form-group">
            <label for="">Purchase</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ purchase | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ purchase }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group">
            <label for="">Existing Payoff</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ existingPayoff | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ existingPayoff }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group">
            <label for="">Construction Budget</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ conBudget | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ conBudget }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group">
            <label for="">Total Loan Fees & Costs</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ totalLoanFeesCost | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ totalLoanFeesCost }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group">
            <label for="">Estimated Loan Amount</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ estimatedLoanAmt | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ estimatedLoanAmt }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group">
            <label *ngIf="estimatedCashAtClose > 0"
              >Estimated Cash Due From Borrower at Close</label
            >
            <label
              *ngIf="estimatedCashAtClose < 0 || estimatedCashAtClose === 0"
              >Estimated Cash Due To Borrower at Close</label
            >
            <div class="text" *ngIf="!masterOverride">
              <span
                >${{
                  abs(estimatedCashAtClose) | number: '1.2-2':'en-US'
                }}</span
              >
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ estimatedCashAtClose }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>

          <span class="leader section-leader">Rate & Fees LLPA's</span>
          <div class="form-group" *ngIf="output === true">
            <label for="">Base rate:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ baseRate | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ baseRate }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Total Rate LLPA's:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ totalRateLLPA | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ totalRateLLPA }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Final Rate:</label>
            <input
              class="ml-4 mr-2 override"
              type="checkbox"
              (change)="toggleOverride('rate')"
            />
            Override?
            <div class="text" *ngIf="!rateOverride && !masterOverride">
              <span>{{ finalRate | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              *ngIf="rateOverride || masterOverride"
              [value]="finalRate"
              (input)="finalRate = $any($event.target).value"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Base Orig Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ baseOrigFee | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ baseOrigFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Total Orig Fee LLPA's:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ totalOrigFeeLLPA | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ totalOrigFeeLLPA }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Referral Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ LLPAreferallFee | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ LLPAreferallFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Final Orig Fee:</label>
            <input
              type="checkbox"
              name=""
              class="ml-4 mr-2 override"
              (change)="toggleOverride('origination')"
            />
            Override?
            <div class="text" *ngIf="!originationOverride && !masterOverride">
              <span>{{ finalOrigFee | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              [value]="finalOrigFee"
              (input)="finalOrigFee = $any($event.target).value"
              *ngIf="originationOverride || masterOverride"
              (change)="unsavable()"
            />
          </div>
        </div>

        <div class="col-lg-6 d-flex flex-column">
          <div class="form-group" *ngIf="output === true">
            <label for="">Lesser of As-is Value or Purchase Price:</label>
            <div class="text" *ngIf="!masterOverride">
              <span
                >${{ lesserOfLotOrPurchase | number: '1.2-2':'en-US' }}</span
              >
            </div>
            <input
              class="form-control"
              type="number"
              value=""
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Max LTC on Purchase:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ maxLTCOnPurchase | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ maxLTCOnPurchase }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Initially Funded Loan Amount</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ initFundedLoanAmt | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ initFundedLoanAmt }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Rehab/Construction Budget:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ rehabConBudget | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ rehabConBudget }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">LTC Construction Budget</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ LTCConBudget | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ LTCConBudget }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Loan Amount</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ loanAmt | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ loanAmt }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Effective Blended LTC</label>
            <div class="text" *ngIf="!masterOverride">
              <span>{{ effectiveBlendedLTC | number: '1.2-2':'en-US' }}%</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ effectiveBlendedLTC }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <span class="leader section-leader">Loan Costs</span>
          <!-- <div class="notice_format mb-4">
            <div class="row mb-4">
              <div class="col">
                <span class="section-title">Actual</span>
              </div>
              <div class="col ml-auto">
                <span class="section-title">Max</span>
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col">
                <span>Loan to Cost</span>
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col">
                <span>Loan to Value</span>
              </div>
            </div>
  
            <div class="row mb-2">
              <div class="col">
                <span>Loan to Purchase Price</span>
              </div>
            </div>
          </div> -->
          <div class="form-group" *ngIf="output === true">
            <label for="">Broker Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ brokerFeeCosts | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ brokerFeeCosts }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Interest Reserve:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ interestReserve | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ interestReserve }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Origination Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ originationFee | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ finalOrigFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Processing Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ processingFee | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ processingFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Project Feasibility & Inspection Fee:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ projectInspectionFee | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ projectInspectionFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label>Broker Processing Fee</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ brokerProcessingFee | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ brokerProcessingFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label>Appraisal Fee</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ appraisalFee | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ appraisalFee }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output === true">
            <label for="">Total Loan Costs & Fees</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ totalLoanCostFees | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ totalLoanCostFees }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <span class="leader section-leader">Payments</span>
          <div class="form-group" *ngIf="output === true">
            <label for="">Initial Monthly Payment:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ initMonthlyPayment | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ initMonthlyPayment }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
          <div class="form-group" *ngIf="output == true">
            <label for="">Payment Fully Drawn:</label>
            <div class="text" *ngIf="!masterOverride">
              <span>${{ paymentFullyDrawn | number: '1.2-2':'en-US' }}</span>
            </div>
            <input
              class="form-control"
              type="number"
              value="{{ paymentFullyDrawn }}"
              *ngIf="masterOverride"
              (change)="unsavable()"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <div *ngIf="validationErrors" class="error">
        {{ validationErrors }}
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <div *ngIf="frontEndValidation.length > 0" class="error">
        Required Fields:
        <ul>
          <li *ngFor="let error of frontEndValidation">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <div class="mr-3">
        <button class="display icon" (click)="calculateResults()">
          <svg
            width="36px"
            height="26px"
            viewBox="0 0 38 28"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Calculator-Button-2</title>
            <defs>
              <polygon
                id="path-1"
                points="0 0.0003 13.371 0.0003 13.371 18 0 18"
              ></polygon>
            </defs>
            <g
              id="3.0-List"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Calculator-Button-2"
                transform="translate(0.698039, 0.000000)"
              >
                <rect
                  id="Rectangle-Copy"
                  opacity="0.8"
                  x="0"
                  y="0"
                  width="37"
                  height="28"
                  rx="4"
                ></rect>
                <g id="Group-3" transform="translate(11.301961, 5.000000)">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-2"></g>
                  <path
                    d="M11.084,8.5913 C11.084,8.8833 10.848,9.1183 10.557,9.1183 L9.836,9.1183 C9.545,9.1183 9.309,8.8823 9.309,8.5913 L9.309,8.0913 C9.309,7.8003 9.545,7.5643 9.836,7.5643 L10.557,7.5643 C10.848,7.5643 11.084,7.8003 11.084,8.0913 L11.084,8.5913 Z M11.084,11.7123 C11.084,12.0033 10.848,12.2393 10.557,12.2393 L9.836,12.2393 C9.545,12.2393 9.309,12.0033 9.309,11.7123 L9.309,11.2133 C9.309,10.9213 9.545,10.6853 9.836,10.6853 L10.557,10.6853 C10.848,10.6853 11.084,10.9213 11.084,11.2133 L11.084,11.7123 Z M11.084,14.8333 C11.084,15.1243 10.848,15.3603 10.557,15.3603 L9.836,15.3603 C9.545,15.3603 9.309,15.1243 9.309,14.8333 L9.309,14.3333 C9.309,14.0423 9.545,13.8053 9.836,13.8053 L10.557,13.8053 C10.848,13.8053 11.084,14.0423 11.084,14.3333 L11.084,14.8333 Z M7.617,8.5913 C7.617,8.8833 7.38,9.1183 7.089,9.1183 L2.901,9.1183 C2.609,9.1183 2.374,8.8823 2.374,8.5913 L2.374,8.0913 C2.374,7.8003 2.609,7.5643 2.901,7.5643 L7.089,7.5643 C7.38,7.5643 7.617,7.8003 7.617,8.0913 L7.617,8.5913 Z M7.617,11.7123 C7.617,12.0033 7.38,12.2393 7.089,12.2393 L6.369,12.2393 C6.077,12.2393 5.841,12.0033 5.841,11.7123 L5.841,11.2133 C5.841,10.9213 6.077,10.6853 6.369,10.6853 L7.089,10.6853 C7.38,10.6853 7.617,10.9213 7.617,11.2133 L7.617,11.7123 Z M7.617,14.8333 C7.617,15.1243 7.38,15.3603 7.089,15.3603 L6.369,15.3603 C6.077,15.3603 5.841,15.1243 5.841,14.8333 L5.841,14.3333 C5.841,14.0423 6.077,13.8053 6.369,13.8053 L7.089,13.8053 C7.38,13.8053 7.617,14.0423 7.617,14.3333 L7.617,14.8333 Z M4.149,11.7123 C4.149,12.0033 3.913,12.2393 3.622,12.2393 L2.901,12.2393 C2.609,12.2393 2.374,12.0033 2.374,11.7123 L2.374,11.2133 C2.374,10.9213 2.609,10.6853 2.901,10.6853 L3.622,10.6853 C3.913,10.6853 4.149,10.9213 4.149,11.2133 L4.149,11.7123 Z M4.149,14.8333 C4.149,15.1243 3.913,15.3603 3.622,15.3603 L2.901,15.3603 C2.609,15.3603 2.374,15.1243 2.374,14.8333 L2.374,14.3333 C2.374,14.0423 2.609,13.8053 2.901,13.8053 L3.622,13.8053 C3.913,13.8053 4.149,14.0423 4.149,14.3333 L4.149,14.8333 Z M2.374,2.9913 C2.374,2.7003 2.609,2.4643 2.901,2.4643 L10.471,2.4643 C10.762,2.4643 10.998,2.7003 10.998,2.9913 L10.998,4.0323 C10.998,4.3243 10.762,4.5603 10.471,4.5603 L2.901,4.5603 C2.609,4.5603 2.374,4.3243 2.374,4.0323 L2.374,2.9913 Z M11.64,0.0003 L1.731,0.0003 C0.777,0.0003 0,0.7773 0,1.7313 L0,16.2683 C0,17.2233 0.777,18.0003 1.731,18.0003 L11.64,18.0003 C12.595,18.0003 13.371,17.2233 13.371,16.2683 L13.371,1.7313 C13.371,0.7773 12.595,0.0003 11.64,0.0003 L11.64,0.0003 Z"
                    id="Fill-1"
                    fill="#FDFAFA"
                    mask="url(#mask-2)"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          Calculate
        </button>
      </div>
      <div class="mr-3">
        <button
          [disabled]="!savable"
          class="display icon"
          (click)="saveQuote()"
        >
          <svg
            width="19px"
            height="16px"
            viewBox="0 0 19 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>checked-box</title>
            <g
              id="2.0-Form"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="2.1_Form-Web"
                transform="translate(-563.000000, -3006.000000)"
                fill="#FFFFFF"
                fill-rule="nonzero"
              >
                <g
                  id="Email-Workbook-BT-Copy"
                  transform="translate(546.000000, 2996.000000)"
                >
                  <g
                    id="checked-box"
                    transform="translate(17.000000, 10.000000)"
                  >
                    <path
                      d="M18.8860205,3.5063279 L17.4754019,2.11274722 C17.3232343,1.96241759 17.0765709,1.96241759 16.9244033,2.11274722 L9.66536775,9.28372071 L7.07579152,6.72561474 C6.92362396,6.57528512 6.67696055,6.57528512 6.52479299,6.72561474 L5.11417438,8.11919542 C5.04111057,8.19137674 5,8.28935085 5,8.39136711 C5,8.49338338 5.04111057,8.59135749 5.11417438,8.66353881 L9.38986849,12.8872047 C9.46604968,12.9624657 9.5656113,13 9.66536775,13 C9.76531905,13 9.86449099,12.9624657 9.94086702,12.8872047 L18.8858256,4.05067129 C18.9588894,3.97848997 19,3.88051586 19,3.77849959 C19,3.67648333 18.9590843,3.57850922 18.8860205,3.5063279 Z"
                      id="Path"
                    ></path>
                    <path
                      d="M14.0855666,14.085758 L1.91424196,14.085758 L1.91424196,1.91424196 L14.3755743,1.91424196 L15.9998086,0.382848392 C15.9998086,0.17151608 15.8282925,0 15.6169602,0 L0.382848392,0 C0.17151608,0 0,0.17151608 0,0.382848392 L0,15.6171516 C0,15.8284839 0.17151608,16 0.382848392,16 L15.6171516,16 C15.8286753,16 16,15.8284839 16,15.6171516 L16,8.36600306 L14.085758,10.3759571 L14.0855666,14.085758 L14.0855666,14.085758 Z"
                      id="Path"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Save Quote
        </button>
      </div>
      <div class="mr-3">
        <button
          class="display icon"
          (click)="generatePreview(false)"
          [disabled]="!printable"
        >
          <svg
            width="15px"
            height="16px"
            viewBox="0 0 15 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>google-drive-pdf-file</title>
            <g
              id="2.0-Form"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="2.1_Form-Web"
                transform="translate(-949.000000, -3005.000000)"
                fill="#FFFFFF"
                fill-rule="nonzero"
              >
                <g
                  id="Export-to-PDF-BT"
                  transform="translate(939.000000, 2996.000000)"
                >
                  <g
                    id="google-drive-pdf-file"
                    transform="translate(10.000000, 9.000000)"
                  >
                    <path
                      d="M6.91666667,4.97777778 L6.91666667,4.97777778 C7,4.97777778 7,4.97777778 6.91666667,4.97777778 C7,4.62222222 7.08333333,4.44444444 7.08333333,4.17777778 L7.08333333,4 C7.16666667,3.55555556 7.16666667,3.2 7.08333333,3.11111111 C7.08333333,3.11111111 7.08333333,3.11111111 7.08333333,3.02222222 L7,2.93333333 L7,2.93333333 L7,2.93333333 C7,2.93333333 7,3.02222222 6.91666667,3.02222222 C6.75,3.55555556 6.75,4.17777778 6.91666667,4.97777778 L6.91666667,4.97777778 Z M4.41666667,11.1111111 C4.25,11.2 4.08333333,11.2888889 4,11.3777778 C3.41666667,11.9111111 3,12.5332985 2.91666667,12.8 L2.91666667,12.8 L2.91666667,12.8 L2.91666667,12.8 C3.41666667,12.7111111 3.91666667,12.1777778 4.41666667,11.1111111 C4.5,11.1111111 4.5,11.1111111 4.41666667,11.1111111 C4.5,11.1111111 4.41666667,11.1111111 4.41666667,11.1111111 Z M12.0833333,9.77777778 C12,9.68888889 11.6666667,9.42222222 10.5,9.42222222 C10.4166667,9.42222222 10.4166667,9.42222222 10.3333333,9.42222222 L10.3333333,9.42222222 C10.3333333,9.42222222 10.3333333,9.42222222 10.3333333,9.51111111 C10.9166667,9.77777778 11.5,9.95555556 11.9166667,9.95555556 C12,9.95555556 12,9.95555556 12.0833333,9.95555556 L12.0833333,9.95555556 L12.1666667,9.95555556 C12.1666667,9.95555556 12.1666667,9.95555556 12.1666667,9.86666667 L12.1666667,9.86666667 C12.1666667,9.86666667 12.0833333,9.86666667 12.0833333,9.77777778 Z M13.3333333,0 L1.66666667,0 C0.75,0 0,0.8 0,1.77777778 L0,14.2222222 C0,15.2 0.75,16 1.66666667,16 L13.3333333,16 C14.25,16 15,15.2 15,14.2222222 L15,1.77777778 C15,0.8 14.25,0 13.3333333,0 Z M12.4166667,10.4888889 C12.2499673,10.5777778 12,10.6666667 11.6666667,10.6666667 C11,10.6666667 10,10.4888889 9.16666667,10.0444444 C7.75,10.2222222 6.66666667,10.3999651 5.83333333,10.7555207 C5.75,10.7555207 5.75,10.7555207 5.66666667,10.8444096 C4.66666667,12.7111111 3.83333333,13.6 3.16666667,13.6 C3,13.6 2.91666667,13.6 2.83333333,13.5110763 L2.41666667,13.2444444 L2.41666667,13.1555556 C2.33333333,12.9777429 2.33333333,12.8888889 2.33333333,12.7111111 C2.41666667,12.2666667 2.91666667,11.4666667 3.91666667,10.8444096 C4.08333333,10.7555207 4.33333333,10.5777778 4.66666667,10.3999651 C4.91666667,9.9555207 5.16666667,9.42218736 5.5,8.8 C5.91666667,7.91111111 6.16666667,7.02222222 6.41666667,6.22222222 L6.41666667,6.22222222 C6.08333333,5.15555556 5.91666667,4.53333333 6.25,3.28888889 C6.33333333,2.93333333 6.58333333,2.57777778 6.91666667,2.57777778 L7.08333333,2.57777778 C7.25,2.57777778 7.41666667,2.66666667 7.58333333,2.75555556 C8.16669935,3.37777778 7.91666667,4.8 7.58333333,5.95555556 C7.58333333,6.04444444 7.58333333,6.04444444 7.58333333,6.04444444 C7.91666667,7.02222222 8.41666667,7.82222222 8.91666667,8.35555556 C9.16666667,8.53333333 9.33333333,8.71111111 9.66666667,8.88888889 C10.0833333,8.88888889 10.4166667,8.8 10.75,8.8 C11.75,8.8 12.4166667,8.97777778 12.666634,9.42222222 C12.75,9.60003486 12.75,9.77777778 12.75,9.95555556 C12.6666667,10.0444444 12.5833333,10.3111111 12.4166667,10.4888889 Z M7,7.02222222 C6.83333333,7.64444444 6.5,8.35555556 6.16666667,9.15555556 C6,9.51107625 5.83333333,9.77777778 5.66666667,10.1333333 L5.75,10.1333333 L5.83333333,10.1333333 L5.83333333,10.1333333 C6.91666667,9.68888889 7.91666667,9.42222222 8.58333333,9.33333333 C8.41663399,9.24444444 8.33333333,9.15555556 8.25,9.06666667 C7.83333333,8.53333333 7.33333333,7.82222222 7,7.02222222 Z"
                      id="Shape"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Generate PDF
        </button>
      </div>

      <div class="mr-3" *ngIf="whiteLabelButton">
        <button
          class="display icon"
          (click)="generatePreview(true)"
          [disabled]="!printable"
        >
          White Label PDF
        </button>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="preview" class="overlay">
  <div class="container mx-auto mt-4">
    <div class="d-flex flex-row justify-content-end">
      <div>
        <button class="display icon m-1" (click)="closePreview()">Close</button>
      </div>
      <div>
        <button class="display icon m-1" (click)="generatePDF()">
          Export PDF
        </button>
      </div>
    </div>
    <div id="STF">
      <div class="container bg-white mt-4" style="padding: 2.5% 10%">
        <div class="row py-4 border-bottom">
          <div class="col-4" *ngIf="whiteLabel">&nbsp;</div>
          <div class="col-4" *ngIf="!whiteLabel">
            <svg
              width="186px"
              height="48px"
              viewBox="0 0 186 48"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>Lima One 2019 Logos_Lima One Logo Outline- Color</title>
              <g
                id="1.0-Login"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="1.1_Login"
                  transform="translate(-20.000000, -20.000000)"
                  fill-rule="nonzero"
                >
                  <g id="header" transform="translate(0.000000, 2.000000)">
                    <g
                      id="Lima-One-2019-Logos_Lima-One-Logo-Outline--Color"
                      transform="translate(20.000000, 18.000000)"
                    >
                      <rect
                        id="Rectangle"
                        fill="#1D2D5C"
                        x="0"
                        y="0"
                        width="14.7096774"
                        height="25.5483871"
                      ></rect>
                      <rect
                        id="Rectangle"
                        fill="#1D2D5C"
                        x="0"
                        y="27.0967742"
                        width="14.7096774"
                        height="20.9032258"
                      ></rect>
                      <rect
                        id="Rectangle"
                        fill="#7BB6D8"
                        x="15.483871"
                        y="0"
                        width="27.0967742"
                        height="25.5483871"
                      ></rect>
                      <rect
                        id="Rectangle"
                        fill="#1D2D5C"
                        x="15.483871"
                        y="27.0967742"
                        width="27.0967742"
                        height="20.9032258"
                      ></rect>
                      <polygon
                        id="Path"
                        fill="#1D2D5C"
                        points="49.5483871 3.87096774 52.004343 3.87096774 52.004343 22.5857015 64.2580645 22.5857015 64.2580645 24.7741935 49.5483871 24.7741935"
                      ></polygon>
                      <polygon
                        id="Path"
                        fill="#1D2D5C"
                        points="70.4516129 6.96774194 70.4516129 24.7741935 68.1290323 24.7741935 68.1290323 6.96774194"
                      ></polygon>
                      <polygon
                        id="Path"
                        fill="#1D2D5C"
                        points="84.4120616 19.8883531 84.3122023 19.8883531 77.8275866 10.3697114 77.8275866 24.7741935 75.8709677 24.7741935 75.8709677 6.96774194 77.9056017 6.96774194 84.3870968 16.6894397 90.8717124 6.96774194 92.9032258 6.96774194 92.9032258 24.7741935 90.8966773 24.7741935 90.8966773 10.3447199"
                      ></polygon>
                      <path
                        d="M114.580645,24.7741935 L112.360578,24.7741935 L110.220601,20.1000388 L100.289566,20.1000388 L98.1207564,24.7741935 L96,24.7741935 L104.329255,6.96774194 L106.25139,6.96774194 L114.580645,24.7741935 Z M105.261491,9.30947177 L101.096863,18.3290087 L109.426118,18.3290087 L105.261491,9.30947177 Z"
                        id="Shape"
                        fill="#1D2D5C"
                      ></path>
                      <path
                        d="M147.082292,18.8388681 C146.568651,20.1182861 145.813532,21.2897486 144.857082,22.2909772 C143.885527,23.3021932 142.719451,24.1119709 141.427078,24.6729324 C138.596661,25.8402053 135.410692,25.8402053 132.580275,24.6729324 C129.993245,23.5679867 127.96856,21.4774757 126.966386,18.8765275 C126.448514,17.553407 126.186499,16.1461632 126.19373,14.7277201 C126.18556,13.3077394 126.453182,11.8993567 126.98228,10.5789127 C127.49355,9.29830085 128.24894,8.12641693 129.207491,7.12680373 C130.17727,6.11496682 131.342446,5.30506355 132.634316,4.74484851 C135.465159,3.57967415 138.650276,3.57967415 141.481119,4.74484851 C144.067508,5.8523129 146.091681,7.94342628 147.095008,10.5443917 C147.615134,11.8669794 147.878269,13.2744503 147.870814,14.693199 C147.877043,16.1119854 147.609483,17.5189751 147.082292,18.8388681 L147.082292,18.8388681 Z M144.761715,11.363483 C143.977741,9.3076097 142.393638,7.64655694 140.362156,6.75021002 C139.307761,6.28401403 138.1637,6.04848829 137.008445,6.05978822 C135.854805,6.0482131 134.711783,6.27817695 133.654734,6.73451862 C132.660834,7.1644035 131.76708,7.79144297 131.028985,8.57668952 C130.288538,9.37670937 129.707277,10.3072013 129.315573,11.319547 C128.890384,12.3934569 128.674671,13.5370407 128.679709,14.6900608 C128.675856,15.8480708 128.891493,16.9965796 129.315573,18.0762659 C130.103267,20.1350779 131.693528,21.7965852 133.731027,22.6895388 C134.785727,23.1544664 135.929736,23.3889108 137.084738,23.3768224 C138.238185,23.3897678 139.381278,23.1608594 140.438449,22.7052302 C141.432496,22.2741872 142.326226,21.6460963 143.064197,20.8599211 C143.805283,20.0615631 144.386648,19.13197 144.77761,18.1202018 C145.202799,17.046292 145.418512,15.9027081 145.413474,14.7496881 C145.412261,13.5906816 145.191227,12.442139 144.761715,11.363483 Z"
                        id="Shape"
                        fill="#1D2D5C"
                      ></path>
                      <polygon
                        id="Path"
                        fill="#1D2D5C"
                        points="165.209661 6.96774194 167.225806 6.96774194 167.225806 24.7741935 165.578859 24.7741935 153.754871 10.1666553 153.754871 24.7741935 151.741935 24.7741935 151.741935 6.96774194 153.668189 6.96774194 165.200029 21.2441426"
                      ></polygon>
                      <polygon
                        id="Path"
                        fill="#1D2D5C"
                        points="185.667446 8.77962649 174.686014 8.77962649 174.686014 14.8619355 184.517492 14.8619355 184.517492 16.6925637 174.686014 16.6925637 174.686014 22.9404414 185.806452 22.9404414 185.806452 24.7741935 172.645161 24.7741935 172.645161 6.96774194 185.667446 6.96774194"
                      ></polygon>
                      <path
                        d="M57.2903153,46.2961931 C56.7443867,46.6878988 56.1174059,46.9649028 55.4507612,47.1089194 C55.065279,47.1907584 54.671148,47.2298696 54.2762258,47.2254732 C52.3468813,47.2469669 50.6056229,46.1274979 49.9056306,44.4155823 C49.4293059,43.2473636 49.4293059,41.9517335 49.9056306,40.7835148 C50.1336633,40.2339426 50.4706458,39.7312867 50.8981958,39.3029669 C51.3249373,38.8755362 51.8381441,38.5347817 52.4068948,38.3012345 C53.0113779,38.0526065 53.6641195,37.9280956 54.3225455,37.9358227 C54.713282,37.9329657 55.1033654,37.9667295 55.4871553,38.036626 C55.8175988,38.1018117 56.1401976,38.1989173 56.4499435,38.3264354 C56.741556,38.4464551 57.0179317,38.5975756 57.2737726,38.7768999 C57.5301332,38.9550528 57.7733331,39.1497678 58.0016537,39.3596688 L57.2737726,40.1030928 C56.8833195,39.7546471 56.4460943,39.4569971 55.9735122,39.2179142 C55.4593987,38.977373 54.8919117,38.8585048 54.319237,38.871403 C53.3312347,38.8642839 52.3849775,39.2502381 51.7087906,39.9361374 C51.376537,40.2775859 51.115989,40.6764228 50.9412069,41.1111254 C50.7556374,41.5758205 50.6625156,42.0693376 50.6665972,42.5664725 C50.6628163,43.0666565 50.7559083,43.5632192 50.9412069,44.0312699 C51.1151685,44.4673 51.375785,44.8673114 51.7087906,45.209408 C52.0366235,45.5440796 52.4314741,45.8129149 52.8700919,46.0000835 C53.3257114,46.1942083 53.8201084,46.2920063 54.319237,46.2867428 C54.8963728,46.3021638 55.4690809,46.186629 55.990055,45.9496819 C56.4932097,45.6993649 56.9556825,45.3810579 57.3631034,45.0046513 L58.0645161,45.6598725 C57.8231616,45.8897421 57.5643984,46.1024212 57.2903153,46.2961931 L57.2903153,46.2961931 Z"
                        id="Path"
                        fill="#58595B"
                      ></path>
                      <path
                        d="M77.4193548,46.4516129 L76.3109232,46.4516129 L75.2409344,44.0125797 L70.26901,44.0125797 L69.1862069,46.4516129 L68.1290323,46.4516129 L72.2936596,37.1612903 L73.2547275,37.1612903 L77.4193548,46.4516129 Z M72.7613793,38.3872765 L70.6726585,43.090664 L74.8372859,43.090664 L72.7613793,38.3872765 Z"
                        id="Shape"
                        fill="#58595B"
                      ></path>
                      <path
                        d="M94.9313688,41.4465558 C94.7426668,41.820499 94.4728971,42.1477608 94.1416672,42.404555 C93.7923296,42.6669719 93.3973457,42.8625205 92.9766943,42.9813097 C92.5192766,43.1111801 92.0457851,43.1759029 91.5702424,43.1735612 L89.3088244,43.1735612 L89.3088244,46.4516129 L88.2580645,46.4516129 L88.2580645,37.1616274 L91.7431936,37.1616274 C92.2263208,37.15582 92.7074136,37.2250762 93.1692249,37.366913 C93.5717559,37.4893317 93.9472094,37.6872927 94.2754596,37.9501846 C94.5783379,38.2011712 94.8185424,38.5191203 94.977054,38.8788573 C95.1476693,39.2702193 95.2322397,39.6935697 95.2250594,40.1203461 C95.2355809,40.5795856 95.1348253,41.0345647 94.9313688,41.4465558 Z M93.4890213,38.6409868 C92.9541332,38.2768212 92.3147191,38.0971751 91.6681393,38.1294021 L89.3088244,38.1294021 L89.3088244,42.2188205 L91.6159276,42.2188205 C91.9694291,42.2229621 92.3215137,42.1735219 92.6601611,42.072188 C92.9547968,41.9852464 93.2304337,41.8437588 93.4727052,41.6550999 C93.6940004,41.4802297 93.8725462,41.2573708 93.9948219,41.0033998 C94.1168386,40.7389381 94.178134,40.450601 94.1742995,40.1594481 C94.2130527,39.570979 93.956183,39.0017988 93.4890213,38.6409868 Z"
                        id="Shape"
                        fill="#58595B"
                      ></path>
                      <polygon
                        id="Path"
                        fill="#58595B"
                        points="106.83871 37.1612903 106.83871 46.4516129 106.064516 46.4516129 106.064516 37.1612903"
                      ></polygon>
                      <polygon
                        id="Path"
                        fill="#58595B"
                        points="122.435405 46.4516129 121.435563 46.4516129 121.435563 38.1378484 118.451613 38.1378484 118.451613 37.1612903 125.419355 37.1612903 125.419355 38.1378484 122.435405 38.1378484"
                      ></polygon>
                      <path
                        d="M143.225806,46.4516129 L142.117375,46.4516129 L141.047386,44.0125797 L136.075462,44.0125797 L134.992659,46.4516129 L133.935484,46.4516129 L138.100111,37.1612903 L139.061179,37.1612903 L143.225806,46.4516129 Z M138.567831,38.3872765 L136.47911,43.090664 L140.643737,43.090664 L138.567831,38.3872765 Z"
                        id="Shape"
                        fill="#58595B"
                      ></path>
                      <polygon
                        id="Path"
                        fill="#58595B"
                        points="154.064516 37.1612903 155.102145 37.1612903 155.102145 45.4750548 160.258065 45.4750548 160.258065 46.4516129 154.064516 46.4516129"
                      ></polygon>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div
            class="col-4"
            style="
              color: #01457c;
              font-weight: 600;
              font-family: 'Montserrat';
              font-size: 24px;
              text-align: center;
            "
          >
            FIX & FLIP TERM SHEET
          </div>
          <div
            class="col-3"
            style="
              color: #01457c;
              font-weight: 600;
              font-family: 'Montserrat';
              font-size: 12px;
              text-align: right;
            "
          >
            {{ CurrentDate | date: 'MM/dd/yyyy' }}
          </div>
        </div>

        <div
          class="row text-center mt-4"
          style="font-size: 14px"
          *ngIf="!whiteLabel"
        >
          <div class="col-12">
            The entire Lima One Capital team is looking forward to working with
            you on this deal, and all of your future financing needs. Please
            review the quoted terms below, and contact me with any questions and
            to review the next steps.
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>TRANSACTION SUMMARY</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Loan Purpose</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ loanPurpose }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Loan Type</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ product }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Existing Debt</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ payoff | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Subject Property Address</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ address }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Purchase Price / As-is Value</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ lesserOfLotOrPurchase | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Construction Budget</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ rehabConBudget | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Estimated ARV</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ afterCompletedVal | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>BORROWER INFORMATION</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Entity Name</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ borrowingEntity }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Primary Sponsor Name</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ primaryGuarantor }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Fix & Flips completed & sold in the past 3 yrs</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ fnfCompletedInThreeYears }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>New Construction built & sold in the past 3 yrs</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ buildsCompletedInThreeYears }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Rental Units Owned</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ rentalUnitsOwned }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Combined Sponsor Liquidity</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ combinedLiquidity | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Qualifying FICO Score</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ qualifyingFICO }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>LOAN TERMS SUMMARY</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Loan Amount</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ loanAmt | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Rate</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ finalRate | number: '1.2-2':'en-US' }}%
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Term</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ loanTerm }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>LTC</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ maxBlendedLTCRatio | number: '1.2-2':'en-US' }}%
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Max LTV on Completed Value</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ maxLTCOnPurchase | number: '1.2-2':'en-US' }}%
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Estimated Closing Date</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ targetCloseDate | date: 'MM/dd/yyyy' }}
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>LOAN COSTS</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Origination Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ originationFee | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Processing Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ processingFee | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Project Feasibility & Inspection Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ projectInspectionFee | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Broker Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ brokerFeeCosts | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Interest Reserves</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ interestReserve | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Broker Processing Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ brokerProcessingFee | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Appraisal Fee</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ appraisalFee | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Total Loan Costs</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ totalLoanCostFees | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row mt-4"
          style="background-color: #7bb6d8; font-size: 28px"
        >
          <div class="col-12 text-white text-center">
            LOAN AMOUNT CALCULATIONS
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>LTC CALCULATIONS</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Lesser of As-is Value or Purchase Price</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ lesserOfLotOrPurchase | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Construction Budget</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ conBudget | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Total Costs</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ totalCost | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>LTC ratio</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ maxLTVRatio | number: '1.2-2':'en-US' }}%
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>LTC Max Loan Amount</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ LTVMaxLoan | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>LTV CALCULATIONS</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>After completed value</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ afterCompletedVal | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Max LTV ratio</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      {{ maxLTVRatio | number: '1.2-2':'en-US' }}%
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>ARV Maximum Loan</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ LTVMaxLoan | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4" style="font-size: 12px">
          <div class="col-12 text-center">
            The Loan Amount is determined by the lesser of the LTC and LTV loan
            calculations.
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>ESTIMATED CASH TO CLOSE</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Purchase</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ purchase | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Existing Payoff</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ existingPayoff | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Construction Budget</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ conBudget | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Total Loan Fees & Costs</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ totalLoanFeesCost | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Estimated Loan Amount</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ estimatedLoanAmt | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b *ngIf="estimatedCashAtClose > 0"
                        >Estimated Cash Due From Borrower at Close</b
                      >
                      <b
                        *ngIf="
                          estimatedCashAtClose < 0 || estimatedCashAtClose === 0
                        "
                        >Estimated Cash Due To Borrower at Close</b
                      >
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ abs(estimatedCashAtClose) | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      The above cash to close figures do not include 3rd party
                      title fees
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      or any required inspection or contractor due diligence
                      fees
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div
                class="card-header"
                style="
                  color: #01457c;
                  font-size: 16px;
                  background-color: rgb(236, 236, 236);
                "
              >
                <b>PROJECTED MONTHLY PAYMENTS</b>
              </div>
              <div class="card-body p-0" style="font-size: 10px">
                <table>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Initial Payment</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ initMonthlyPayment | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align: left; padding-left: 10px">
                      <b>Payment Once Fully Drawn</b>
                    </td>
                    <td style="text-align: right; padding-right: 10px">
                      ${{ paymentFullyDrawn | number: '1.2-2':'en-US' }}
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4 border-top"></div>
        <div class="row">
          <div class="col-12 p-4 text-white" style="background-color: #1d2d5c">
            <p class="mt-2">
              <span style="text-transform: capitalize">IMPORTANT DETAILS</span>
            </p>
            <p class="mt-2">
              <b
                >All terms noted in this conditional term sheet are subject to
                change. These terms are based on projections that have been
                shared with <span *ngIf="!whiteLabel">Lima One Capital</span
                ><span *ngIf="whiteLabel">lender</span>. As the various pieces
                of the loan are validated, we will keep you updated with any
                projected changes to the conditional terms presented here.</b
              >
            </p>
            <p class="mt-2">
              <span *ngIf="product !== 'BridgePlus'"
                >An approved GC may be required for complex projects classified
                by the lender as 'Heavy Rehab' or ‘New Construction.’ Both the
                borrower and GC (where applicable) will require full approval
                before closing. Permits are not required to close, but where
                applicable, may be required before a draw is approved. You can
                request as many rehab draws as you'd like, at a cost of $200 for
                each draw, netted against draw proceeds. Please contact your
                salesperson with any questions.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
