:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  height: 32px;
  padding: 10px;
}
label.guarantor {
  margin-left: 45% !important;
}
label.credit_score {
  margin-left: 10% !important;
}

.notice {
  font-family: 'Montserrat';
  font-weight: 600;
  text-decoration: italic;
  width: 417px;
  height: 50px;
  color: #005b9e;
  font-size: 14px;
  background-color: rgb(123, 182, 217, 0.1);
  border-radius: 4px;
  border: solid 1px #005b9e;
  padding: 10px 25px;
}

.notice_format {
  font-family: 'Montserrat';
  font-weight: 600;
  text-decoration: italic;
  width: 417px;
  color: #005b9e;
  font-size: 14px;
  background-color: rgb(123, 182, 217, 0.1);
  border-radius: 4px;
  border: solid 1px #005b9e;
  padding: 10px 25px;
}

.notice_format.dark {
  background-color: #e5eef5;
  border-color: #005b9e;
}

.full {
  width: 910px;
}

button.display {
  background-color: #0072c6;
  border-radius: 4px;
  padding: 5px 32px;
  color: white;
  border: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  height: 32px;
}

button .icon {
  padding: 5px 16px;
}

button:disabled,
button[disabled] {
  background-color: #01457c;
  color: darkgrey;
}

button:hover:enabled {
  background-color: #005b9e;
}

.index-page {
  background-color: #f8f8f8;

  .leader {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #01457c;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .leader.section-leader {
    font-size: 20px;
  }

  .form-article {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    width: 1020px;
    border: #eaeaea 1px solid;
    padding: 32px 48px;
  }

  .calc {
    border-top: dashed 1px black;
    padding-top: 32px;
    margin-top: 32px;
  }

  .section {
    border-bottom: dashed 1px black;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }

  .section-title {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #01457c;
    font-size: 14px;
    margin-bottom: 24px;
  }

  .version {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #01457c;
    margin: 0 0 0 32px;
    font-size: 16px;
  }

  label {
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    color: #3f4643;
  }

  input,
  select {
    width: 417px;
    height: 34px;
    margin: 8px 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #3f4643;
    border: 1px solid #2a3837;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  .long {
    width: 290px;
  }

  .medium {
    width: 300px;
  }

  .medium-block {
    width: 200px;
  }

  .small {
    font-size: 12px;
    font-weight: 600;
    position: relative;
    top: 36px;
  }

  .text {
    font-family: 'Montserrat';
    font-weight: 500;
    color: #979797;
    margin-bottom: 8px;
  }

  .interest {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 36px;
  }

  .short {
    width: 100px;
    margin-left: 16px;
  }

  .form-group {
    margin-bottom: 0;
  }
}
input[type='checkbox'].override {
  width: 16px;
  border: 1px solid #3f4643;
  height: 16px;
}

.form-row input[type='checkbox'] {
  width: 16px;
  border: 1px solid #3f4643;
  height: 16px;
}

/* Custom Radio Button */
label > input[type='radio'] {
  display: none;
  margin-left: 50px;
}

label > input[type='radio'] + *::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3f4643;
  margin: 9px 0 0 0;
}
label > input[type='radio']:checked + * {
  color: #3f4643;
}
label > input[type='radio']:checked + *::before {
  background: radial-gradient(
    #3f4643 0%,
    #3f4643 40%,
    transparent 50%,
    transparent
  );
  border-color: #3f4643;
}

/* basic layout */
fieldset {
  margin: 20px;
  max-width: 400px;
}
label > input[type='radio'] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}

table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

textarea {
  width: 910px;
  height: 96px;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: solid 1px #2a3837;
}

#contentToConvert {
  display: none;
}

.error {
  background-color: #fff1f0;
  border: 1px solid #ffa39e;
  border-radius: 4px;
  font-size: 14px;
  color: #3f4643;
  padding: 15px;
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: scroll;
}
