*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  line-height: 1.5 !important;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

main {
  padding: 25px 0;
}

.header {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  height: 86px;
  width: 100%;
  background-color: #FFFFFF;
}

.title h1 {
  color: #01457C;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 20px;
}
