<div class="header d-flex align-items-center">
  <app-logo-component class="d-none d-md-block"></app-logo-component>

  <button routerLink="/" class="menuButton">Dashboard</button>
  <div class="avatar d-flex align-items-center justify-content-center">
    <div class="icon">
      <svg
        width="38px"
        height="38px"
        viewBox="0 0 38 38"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Group 15</title>
        <g
          id="5.0-New-Hub"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          opacity="0.9"
        >
          <g id="5.1_Hub" transform="translate(-1212.000000, -24.000000)">
            <g id="Group-15" transform="translate(1213.000000, 25.000000)">
              <circle
                id="Oval"
                stroke="#2E3D5C"
                stroke-width="2"
                fill="#FFFFFF"
                cx="18"
                cy="18"
                r="18"
              ></circle>
              <g
                id="avatar"
                transform="translate(17.500000, 17.500000) scale(-1, 1) translate(-17.500000, -17.500000) translate(8.000000, 7.000000)"
              ></g>
              <path
                d="M17.9208773,19 C17.9448538,19 17.9688304,19 17.9976023,19 C18.007193,19 18.0167836,19 18.0263742,19 C18.0407602,19 18.0599415,19 18.0743274,19 C19.4793556,18.9769408 20.615846,18.5019216 21.4550266,17.5933897 C23.301224,15.5918524 22.9943237,12.1606457 22.9607565,11.8332052 C22.8408735,9.37509608 21.6324534,8.19907763 20.6350272,7.65026902 C19.8917529,7.23981553 19.0238004,7.01844735 18.0551462,7 L18.0215789,7 C18.0167836,7 18.007193,7 18.0023977,7 L17.9736258,7 C17.4413455,7 16.3959661,7.08301307 15.3937447,7.63182168 C14.3867279,8.18063028 13.1591265,9.35664873 13.0392435,11.8332052 C13.0056763,12.1606457 12.698776,15.5918524 14.5449734,17.5933897 C15.3793587,18.5019216 16.5158491,18.9769408 17.9208773,19 Z M14.3195934,11.9485012 C14.3195934,11.9346656 14.3243888,11.9208301 14.3243888,11.9116065 C14.4826343,8.60491929 16.9234511,8.24980784 17.9688304,8.24980784 L17.9880117,8.24980784 C17.9976023,8.24980784 18.0119883,8.24980784 18.0263742,8.24980784 C19.3211101,8.27747886 21.5221611,8.78478094 21.6708159,11.9116065 C21.6708159,11.925442 21.6708159,11.9392775 21.6756112,11.9485012 C21.6804066,11.980784 22.0160788,15.1168332 20.4911677,16.7678709 C19.8869576,17.4227517 19.0813442,17.7455803 18.0215789,17.754804 C18.0119883,17.754804 18.007193,17.754804 17.9976023,17.754804 L17.9976023,17.754804 C17.9880117,17.754804 17.9832164,17.754804 17.9736258,17.754804 C16.9186558,17.7455803 16.1082471,17.4227517 15.5088323,16.7678709 C13.9887165,15.1260569 14.3147981,11.9761722 14.3195934,11.9485012 Z"
                id="Shape"
                stroke="#2E3D5C"
                stroke-width="0.6"
                fill="#2E3D5C"
                fill-rule="nonzero"
                transform="translate(18.000000, 13.000000) scale(-1, 1) translate(-18.000000, -13.000000) "
              ></path>
              <path
                d="M26.9987046,23.116158 C26.9987046,23.1112397 26.9987046,23.1063215 26.9987046,23.1014032 C26.9987046,23.062057 26.9940789,23.0227109 26.9940789,22.9784465 C26.9663252,22.004629 26.906192,19.7274701 24.8986704,18.9995661 C24.8847935,18.9946479 24.866291,18.9897296 24.8524141,18.9848113 C22.7662569,18.4192103 21.0316471,17.1404601 21.0131446,17.1257053 C20.7309815,16.9142197 20.3424289,16.9879938 20.143527,17.2880082 C19.944625,17.5880227 20.0140094,18.0011573 20.2961726,18.212643 C20.3748083,18.2716622 22.2158074,19.6340229 24.5193691,20.2635615 C25.5971399,20.6717779 25.7174062,21.8964271 25.7497856,23.0177926 C25.7497856,23.062057 25.7497856,23.1014032 25.7544112,23.1407494 C25.7590368,23.5833937 25.7312831,24.2670332 25.6572731,24.6604948 C24.9079217,25.1129756 21.9706492,26.6769854 17.5022946,26.6769854 C13.0524424,26.6769854 10.0966675,25.1080573 9.34269045,24.6555765 C9.26868044,24.2621149 9.23630106,23.5784754 9.24555231,23.1358311 C9.24555231,23.0964849 9.25017793,23.0571388 9.25017793,23.0128743 C9.28255731,21.8915088 9.40282359,20.6668596 10.4805944,20.2586432 C12.7841561,19.6291047 14.6251552,18.2618257 14.7037909,18.2077247 C14.9859541,17.9962391 15.0553385,17.5831044 14.8564365,17.2830899 C14.6575346,16.9830755 14.268982,16.9093014 13.9868189,17.120787 C13.9683164,17.1355418 12.2429579,18.414292 10.1475494,18.9798931 C10.1290469,18.9848113 10.11517,18.9897296 10.1012931,18.9946479 C8.09377145,19.7274701 8.03363832,22.004629 8.00588456,22.9735282 C8.00588456,23.0177926 8.00588456,23.0571388 8.00125894,23.0964849 C8.00125894,23.1014032 8.00125894,23.1063215 8.00125894,23.1112397 C7.99663331,23.3669898 7.99200768,24.6801678 8.23716586,25.339216 C8.28342212,25.467091 8.36668338,25.575293 8.47769841,25.649067 C8.61646718,25.7474324 11.9422922,28 17.5069202,28 C23.0715482,28 26.3973732,25.7425141 26.536142,25.649067 C26.6425314,25.575293 26.7304183,25.467091 26.7766745,25.339216 C27.0079558,24.6850861 27.0033302,23.371908 26.9987046,23.116158 Z"
                id="Path"
                stroke="#2E3D5C"
                stroke-width="0.6"
                fill="#2E3D5C"
                fill-rule="nonzero"
                transform="translate(17.500000, 22.500000) scale(-1, 1) translate(-17.500000, -22.500000) "
              ></path>
            </g>
          </g>
        </g>
      </svg>
      <span class="sub-menu">
        <a class="menu" href="/logout">Logout</a>
        <button class="menu" routerLink="./newQuote">
          Web Loan Calculator
        </button>
        <button class="menu" routerLink="/">Dashboard</button>
      </span>
    </div>
  </div>
</div>
