.avatar {
  height: 86px;
  width: 86px;
  border-left: solid #979797 1px;
  position: relative;
  display: inline-block;
  margin-left: auto;
}
.avatar .sub-menu {
  /*Sub menu Styles*/
  opacity: 0;
  transition: opacity 1s;
  background-color: #ffffff;
  color: #01457c;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  border: solid #979797 1px;
  top: 100%;
  right: 10%;
  margin-left: -60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
  width: 250px;
  padding: 30%;

  /*Visibility Styles*/
  position: absolute;
  z-index: 1;
}

.avatar:hover .sub-menu {
  opacity: 1;
}

.avatar .sub-menu::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: 75px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #979797 transparent;
}

.menu {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: #01457c;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: left;
}

.menuButton {
  color: #01457c;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 20px;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.menuButton:hover,
.menu:hover {
  text-decoration: underline;
}
