.login-form {
  h1 {
    color: #01457c;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  label {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #3f4643;
    font-weight: 500;
    margin: 0;
  }

  input {
    background-color: #f1f1f1;
    border: solid 1px #2a3837;
    border-radius: 4px;
    margin: 8px 0 0 0;
  }

  button {
    background-color: #0072c6;
    padding: 0 32px;
    height: 34px;
  }

  a {
    color: #0099ff;
    text-decoration: underline;
  }

  .foot {
    font-size: 12px;
    margin: 12px 0;
    text-align: right;
  }
  @media (max-width: 576px) {
  }
}
