<form class="login-form">
  <app-logo-component
    class="d-sm-block d-md-none d-lg-none"
  ></app-logo-component>
  <h1>Please Log In:</h1>
  <div class="form-group">
    <label for="user_id">User Id</label>
    <input
      type="email"
      class="form-control commonfield"
      id="user_id"
      aria-describedby="emailHelp"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control commonfield"
      id="password"
      placeholder="Password"
    />
  </div>
  <div class="d-flex flex-column align-items-end">
    <div class="justify-content-end">
      <button type="button" class="btn btn-primary" (click)="skipLogin()">
        Login
      </button>
    </div>
    <div class="foot">
      <p>Forgot your User ID or Password? <a href="">Click Here</a></p>
      <p>Don't have an account? <a href="">Register now</a></p>
    </div>
  </div>
</form>
